@font-face {
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhattext/v13/RrQCbohi_ic6B3yVSzGBrMx6ZI_cy1A6Ok2ML193ZrHQcA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  font-size: 14px;
  font-family: "Red Hat Text", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --text-white-color: #ffffff;
  --text-red-color: #fa6187;
  --text-blue-color: #8486a9;

  --card-blue-desaturated: #343650;
  --card-dark-blue: #1e1f29;
  --card-black-blue: #191a24;
}

body {
  background: rgb(36, 28, 43);
  background: -moz-linear-gradient(
    0deg,
    rgba(36, 28, 43, 1) 0%,
    rgba(33, 29, 43, 1) 40%,
    rgba(30, 30, 40, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(36, 28, 43, 1) 0%,
    rgba(33, 29, 43, 1) 40%,
    rgba(30, 30, 40, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(36, 28, 43, 1) 0%,
    rgba(33, 29, 43, 1) 40%,
    rgba(30, 30, 40, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#241c2b",endColorstr="#1e1e28",GradientType=1);
  -webkit-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#241c2b",endColorstr="#1e1e28",GradientType=1);
}
